@import url('https://fonts.googleapis.com/css?family=Poppins:300,400');
body,
html {
  height: 100%;
  background-color: black;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, Roboto, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 0.85rem;
  font-weight: 300;
}
body {
  background-image: url('http://alanthinks.com/img/collabtogrow/collab-to-grow-bg-fade.jpg');
  background-size: cover;
  background-position: center;
}

button {
  border: none;
  background: none;
}

input,
.form-control {
  display: inline-block;
  border: 0;
  padding: 0 14px;
  height: 40px;
  font-size: 13px;
  width: 80%;
  border-radius: 0 2px 2px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid rgb(179, 179, 179);
}
.input-wrapper {
  border-radius: 3px;
  border: 1px solid #f1f1f1;
  position: relative;
  -webkit-transition: border-color 0.8s;
  transition: border-color 0.8s;
  margin: 0px 15px;
}
.input-wrapper:focus {
  border: 1px solid #b9b8b8;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 12px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 12px;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 12px;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 12px;
}

.header-logo {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 35px;
  transition: all 0.4s;
}

.login-box {
  width: 300px;
  min-height: 528px;
  position: absolute;
  top: 50%;
  right: 18%;
  transform: translateY(-50%);
  background-color: #fff;
  box-shadow: 0px 0px 10px rgb(43, 43, 43);
  border-radius: 5px;
  transition: all 0.5s;
}

.login-header {
  text-align: center;
}

.login-header img {
  width: 70%;
  height: 118px;
}
.top-buttons {
  border-top: 2px rgb(231, 231, 231) solid;
  border-bottom: 1px rgb(231, 231, 231) solid;
  margin-bottom: 15px;
}
.top-buttons .active {
  border-bottom: 1px solid black;
}
.top-buttons button {
  display: inline-block;
  width: 49%;
  height: 40px;
}
.social-logins {
  margin-bottom: 15px;
}
#error-message {
  display: none;
}
.btn {
  color: white;
  text-transform: uppercase;
  margin: auto;
  border-radius: 2px;
  width: 89%;
  font-size: 0.9rem;
}
#btn-google {
  background: #4688f0;
  height: 40px;
  margin-bottom: 10px;
}
#btn-linkedin {
  background: #0082aa;
  height: 40px;
}
#btn-login {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #3eb7f9;
  height: 70px;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-width: 0;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#btn-signup {
  display: none;
}

.fab {
  position: absolute;
  transform: translate(-69px, -11px);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.fa-google {
  font-size: 1.1rem;
  padding: 13px;
  background: #3161b0;
}
.fa-linkedin {
  font-size: 1.2rem;
  padding: 12px 13px;
  background: #005c78;
}

.form-logo {
  display: inline-block;
  background: #f1f1f1;
  width: 14%;
}

.plain-center-txt {
  text-align: center;
  font-size: 0.85em;
}
.inputs-group {
  margin: 15px 0;
}
svg {
  margin-top: 89%;
}

@media only screen and (max-width: 1000px) {
  .login-box {
    width: 300px;
    min-height: 528px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(43, 43, 43);
    border-radius: 5px;
  }
  .header-logo {
    opacity: 0;
  }
}
@media only screen and (max-height: 900px) {
  .header-logo {
    opacity: 0;
  }
}
