@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,800,900');

h1.home-view {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1em;
    font-family: Nunito Sans !important;
    font-weight: 800 !important;
    font-style: normal;
    font-size: 100px !important;
    letter-spacing: 0em;
    line-height: .75em;
    text-transform: none;
    color: #008aad;
    margin: .67em 0 !important;
    margin-top: 25px !important;
    text-rendering: optimizeLegibility;
}

h3.home-view {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    font-family: Nunito Sans !important;
    font-weight: 700 !important;
    font-style: normal;
    font-size: 24px !important;
    letter-spacing: 0em;
    line-height: 1.55em;
    text-transform: none;
    color: #143335;
    margin: .27em 0 !important;
    text-rendering: optimizeLegibility;
}

p.home-view {
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 1.6em !important;
    font-family: Nunito Sans !important;
    font-weight: 300 !important;
    font-style: normal !important;
    font-size: 18px !important;
    letter-spacing: 0em !important;
    line-height: 1.8em !important;
    text-transform: none !important;
    color: #143335 !important;
    padding-right: 45px !important;

}

.home-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    height: 100%;
}

.home-section-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
}

.home-nav-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    height: 100%;
}

.home-nav {
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.home-nav-right {
    width: 100%;
    padding: 0px;
    justify-content: flex-end !important;
}

.home-link-nav {
    margin: 0 1.17em;
    padding: .618em 0;
    margin-right: 12px !important;
    font-size: 17px;
    font-weight: bold;
    font-family: Nunito Sans;
    color: #272727 !important;
    -webkit-transition: all 170ms ease-in-out;
    -moz-transition: all 170ms ease-in-out;
    -ms-transition: all 170ms ease-in-out;
    -o-transition: all 170ms ease-in-out;
    transition: all 170ms ease-in-out;
}

.home-link-nav:hover {
    opacity: 0.70;
}

.home-buttom-nav {
    padding: 10px !important;
    width: 120px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 100px !important;
    color: #3eb7f9 !important;
    border-width: 2px !important;
    border-color: #3eb7f9 !important;
    margin-left: 20px;
}
.home-buttom-nav-login {
    padding: 10px !important;
    width: 120px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 100px !important;
    color: #ffffff !important;
    border-width: 2px !important;
    border-color: #3eb7f9 !important;
    background-color: #3eb7f9 !important;
}

.home-section-bg {
    background-image: url("../../../images/wizard/home-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.home-body-section {
    padding: 120px 15px;
}

.home-body-buttom {
    padding: 20px 46px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px !important;
    font-family: Nunito Sans;
    font-size: 20px !important;
    font-weight: 600 !important;
    font-style: normal;
    text-transform: none;
    background-color: #3eb7f9;
    box-shadow: 0 3px 0 0 #16a8f8;
    border-radius: 300px !important;
    width: 205px;
    height: 75px !important;
    margin: 0px 25px;
    margin-bottom: 65px;
}

.home-section-video {
    padding: 120px 15px;
    background-color: #008aad;
}

.home-title-video {
    color: #fff !important;
    text-transform: uppercase !important;
    text-align: center !important;
    width: 100%;
    margin-bottom: 30px !important;
}

.home-section-footer {
    padding: 120px 15px;
    background-color: #596167;
}

.home-header-logo {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 35px;
}

.home-login-box {
    width: 300px;
    min-height: 528px;
    position: absolute;
    top: 50%;
    right: 85px;
    transform: translateY(-50%);
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(43, 43, 43);
    border-radius: 5px;
}

.home-login-header {
    text-align: center;
}

.home-login-header img {
    width: 70%;
    height: 118px;
}

.home-btn {
    width: 100%;
    background-color: #3eb7f9;
    height: 70px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-width: 0;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.home-link-footer {
    color: #fff !important;
    margin-bottom: 18px;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    line-height: 30px;
    -webkit-transition: all 170ms ease-in-out;
    -moz-transition: all 170ms ease-in-out;
    -ms-transition: all 170ms ease-in-out;
    -o-transition: all 170ms ease-in-out;
    transition: all 170ms ease-in-out;
}

.home-link-footer:hover {
    opacity: 0.70;
}

.home-title-footer {
    font-size: 24px !important;
    font-family: Nunito Sans !important;
    font-weight: 700 !important;
    color: #fff !important;
    margin-bottom: 25px !important;
    margin-top: 0px !important;
}

.home-subtitle-footer {
    color: #fff !important;
    margin-bottom: 25px;
}

.home-link-redes {
    opacity: 1;
    -webkit-transition: all 170ms ease-in-out;
    -moz-transition: all 170ms ease-in-out;
    -ms-transition: all 170ms ease-in-out;
    -o-transition: all 170ms ease-in-out;
    transition: all 170ms ease-in-out;
}

.home-link-redes:hover {
    opacity: 0.70;
}
