div.active > .css-moa28j {
  background-color: #36aef8;
}
a {
  text-decoration: none;
}

isdisabled {
  width: 100%;
}

input:disabled,
textarea:disabled,
isdisabled input.css-5j2h4 {
  background-color: rgb(245, 245, 245);
  cursor: default;
}
