div.clickable-label {
  height: 100%;
}
div.clickable-label img {
  margin-top: 21px;
  width: 16px;
  cursor: pointer;
  opacity: 0.4;
  transition: all 0.2s;
}
div.clickable-label img:hover {
  opacity: 1;
}

div.comment-label {
  height: 20%;
}
div.comment-label {
  padding-left: 99%;
  margin-top: -5px;
}
div.comment-label img {
  margin-top: 5px;
  width: 12px;
  opacity: 0.4;
  transition: all 0.2s;
  margin-right: 0px;
}
