.details {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.details td,
.details th {
  border: 1px solid rgb(241, 241, 241);
  padding: 25px;
}

.details tr:nth-child(even) {
  /* background-color: #f2f2f2; */
}

.details th {
  color: black;
  width: 28%;
  font-weight: 600;
  font-size: 1.5rem;
}
.details th:nth-child(even) {
  /* background-color: #fafafa; */
}
